*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-08-20-First-Post.md
_posts/2022-08-26-pythonquiz.md
_posts/2022-08-27-bashinstallcheck.md
_posts/2022-09-04-listsdictionaryiteration.md
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-09-25-javascriptmath.md
_posts/2022-09-25-jupyterjskernel.md
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-07-APIexample.md
_posts/2022-11-09-pythonbinarysearch.md
_posts/2022-11-28-unit3lesson1-2.md
_posts/2022-11-29-unit3lesson3-4.md
